In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df=pd.read_csv('C:\\Users\\LENOVO\\Downloads\\book.csv',encoding='unicode_escape')

In [4]:
df

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [5]:
del df["Unnamed: 0"]

In [6]:
df.head(3)

   User.ID            Book.Title  Book.Rating
0   276726   Classical Mythology            5
1   276729          Clara Callan            3
2   276729  Decision in Normandy            6

In [7]:
df.isnull().sum()

User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [8]:
df[df.duplicated()].shape

(2, 3)

In [9]:
df.drop_duplicates()

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

In [10]:
df.drop_duplicates().reset_index(drop=True)

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9993   162121       American Fried: Adventures of a Happy Eater.            7
9994   162121                              Cannibal In Manhattan            9
9995   162121                    How to Flirt: A Practical Guide            7
9996   162121                                           Twilight            8
9997   162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

In [11]:
df.reset_index()

,index,User.ID,Book.Title,Book.Rating
0,0,276726,Classical Mythology,5
1,1,276729,Clara Callan,3
2,2,276729,Decision in Normandy,6
3,3,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,4,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9995,162121,American Fried: Adventures of a Happy Eater.,7
9996,9996,162121,Cannibal In Manhattan,9
9997,9997,162121,How to Flirt: A Practical Guide,7
9998,9998,162121,Twilight,8
9999,9999,162129,Kids Say the Darndest Things,6

In [12]:
len(df["Book.Title"].unique())

9659

In [13]:
b_11=df.drop_duplicates(["Book.Title"]).reset_index(drop=True)

In [14]:
b_11

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9654   162121       American Fried: Adventures of a Happy Eater.            7
9655   162121                              Cannibal In Manhattan            9
9656   162121                    How to Flirt: A Practical Guide            7
9657   162121                                           Twilight            8
9658   162129                       Kids Say the Darndest Things            6

[9659 rows x 3 columns]

In [15]:
bx=b_11.pivot(index="User.ID",
           columns="Book.Title",
           values="Book.Rating")

In [17]:
bx

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
User.ID,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
bx1=bx.fillna(0,axis=1)

In [19]:
bx1

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
User.ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#calculating the sapital distances uisng cosine 
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine
import scipy

In [21]:
bx_simir=1-pairwise_distances(bx1.values , metric='cosine')

In [22]:
bx_simir

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [23]:
bx_simir_df=pd.DataFrame(bx_simir)

In [24]:
bx_simir_df

,0,1,2,3,4,5,6,7,8,9,...,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [25]:
bx_simir_df .iloc[0:10,0:10]

     0    1    2    3    4    5    6    7    8    9
0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [26]:
#lets  check for most similar users
bx_simir_df.idxmax()[0:5]

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [27]:
df[(df["Book.Rating"]==7) | (df["Book.Rating"]==10)]

      User.ID                                         Book.Title  Book.Rating
5      276744                             The Kitchen God's Wife            7
6      276745  What If?: The World's Foremost Military Histor...           10
10     276747                        Nights Below Station Street            7
11     276747  Hitler's Secret Bankers: The Myth of Swiss Neu...            7
16     276760  More Cunning Than Man: A Social History of Rat...           10
...       ...                                                ...          ...
9987   162107                            What's Bred in the Bone            7
9988   162109                            The Flower in the Skull           10
9990   162121                                  The Cloister Walk            7
9995   162121       American Fried: Adventures of a Happy Eater.            7
9997   162121                    How to Flirt: A Practical Guide            7

[3808 rows x 3 columns]

In [28]:
#lets give recommendation
def recommend(users_id):
    temp=list(bx_simir_df.sort_values([users_id],ascending=True).head(10).index)
    books_list=[]
    for i in temp:
        books_list=books_list+list(df[df["User.ID"]==i]["Book.Title"])
    return  set(books_list)-set(df[df["User.ID"]==users_id]["Book.Title"])

In [29]:
recommend(4)

{'Bag of Bones',
 'Barrier Island',
 'Bitterroot',
 "Chicken Soup for the Writer's Soul : Stories to Open the Heart and Rekindle the Spirit of Writers (Chicken Soup for the Soul)",
 'Claudia and the Phantom Phone Calls (Baby-Sitters Club, 2)',
 'Come Love a Stranger',
 'DAWNFIRE',
 "Daughter of Camelot (Merlin's Legacy, No 6)",
 'Deep South',
 'Dreamcatcher',
 'El Codigo Da Vinci / The Da Vinci Code',
 'Forever in Your Embrace',
 'Great Book Of Whodunit Puzzles: Mini-Mysteries For You To Solve',
 'Hard Fall',
 'Hard Time (V.I. Warshawski Novels (Hardcover))',
 'Healing Back Pain : The Mind-Body Connection',
 'Heartbreaker',
 'Heaven Makers',
 'How to Choose the Sex of Your Baby: The Method Best Supported by Scientific Evidence',
 "How to Have a Smarter Baby : The Infant Stimulation Program For Enhancing Your Baby's Natural Development",
 "Kristy's Great Idea (The Baby-Sitter's Club #1)",
 'Mary Anne Saves the Day (Baby-Sitters Club, 4)',
 'ONE-MINUTE BEDTIME STORIES (Doubleday Balloon Books)',
 'On the Occasion of My Last Afternoon',
 'Paradise Lost',
 'Prince Charming (Time of Your Life)',
 'Red Rabbit',
 'SKATING FOR THE GOLD',
 'Screen kisses',
 'Secret Garden (Great Illustrated Classics)',
 'Southern Cross',
 'Teach Yourself Furthur Spanish (Teach Yourself S.)',
 'The Authoritative Calvin and Hobbes (Calvin and Hobbes)',
 'The Bay of Noon',
 'The Beet Queen',
 'The Bumble Beast (Mighty Morphin Power Rangers)',
 'The Cardinal of the Kremlin (Jack Ryan Novels)',
 'The Golden One : A Novel of Suspense',
 'The Green Mile: The Complete Serial Novel',
 'The Random House Book of Horse Stories',
 'The Truth About Stacey (Baby-Sitters Club, 3)',
 'The Twits (Puffin Novels)',
 'The Voodoo Queen: A Novel (Pelican Pouch Series)',
 'Tis: A Memoir',
 'Under the Tuscan Sun',
 'Voodoo River (Elvis Cole Novels (Paperback))',
 'Wild Magic (Immortals (Paperback))',
 'Wild Sweet Promise',
 'Wildest Hearts'}